.App {
  text-align: center;
}

ul {
  list-style: none;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.delete {
  color: red;
  cursor: pointer;
}

input:checked + span {
  text-decoration: line-through;
}

.todolist {
  margin: 1rem auto 0;
  padding: 1rem;
  width: 12rem;
  min-height: 10rem;
  border: 1px solid grey;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}

.todoitem {
  display: flex;
  width: 100%;
  justify-content: space-between;
}